name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    name: Test
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome-debug
    
    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - uses: actions/checkout@v3
    - name: Install Chrome
      run: |
          sudo wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo apt update
          sudo apt-get install google-chrome-stable
    - name: composer update
      run: composer update
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: install chrome driver
      run: php artisan dusk:chrome-driver --detect
    - name: start chrome driver
      run: ./vendor/laravel/dusk/bin/chromedriver-linux &
    - name: Run Laravel Server
      run: php artisan serve --no-reload &
    - name: dusk test
      env:
        BROWSER: chrome
        APP_URL: http://127.0.0.1:8000/public
        DOCKER_WEB_CONTAINER: 127.0.0.1:9515
      run: php artisan dusk --without-tty
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      run: vendor/bin/phpunit
