name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.1']

    steps:
      - name: checkout
        uses: actions/checkout@v3 # ソース取得
      - name: setup php
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-versions }}
          extension-csv: mbstring, dom, fileinfo, mysql
          coverage: none
#       - name: copy .env
#         run: cp .env.ci .env
      - name: install libsqlite3
        run: sudo apt-get install -y libsqlite3-dev
      - name: install composer dependencies
        run: composer install
      - name: clear config
        run: |
          php artisan config:clear
          php artisan cache:clear
      - name: run dusk
        run: |
          ./vendor/laravel/dusk/bin/chromedriver-linux &
          chmod -R 0755 vendor/laravel/dusk/bin/ &
          php artisan serve &
          php artisan migrate &
          php artisan db:seed &
          php artisan dusk
        env:
          APP_ENV: ci
          APP_URL: http://127.0.0.1:8000
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 33306
          DB_DATABASE: test_db
          DB_USERNAME: root
          DB_PASSWORD: root
